
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# old Drupal redirects
RewriteRule ^[0-9]+\/[0-9]+\/([0-9]+) https://knowledgebank.org.nz/?p=$1
RewriteRule ^[0-9]+\/([0-9]+) https://knowledgebank.org.nz/?p=$1
RewriteRule ^([0-9]+) https://knowledgebank.org.nz/?p=$1

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
